 /*TODO useless class*/
.App {
  text-align: center;
  background-color: #00193A;
}


 /*TODO useless class*/

.App-logo {
  height: 50vmin;
  pointer-events: none;
}
 /*TODO useless class*/

@media (prefers-reduced-motion: no-preference) {
  /* .App-logo {
    animation: App-logo-spin infinite 20s linear;
  } */
}
 /*TODO useless class*/

.App-header {
  background-color: #00193A;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

#formLogin {
  background-color: #FF0041 ;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  padding-left: 0cm;
  padding-right: 0cm;
  padding-bottom: 0cm;
  border-radius: 20px;
  width: 7cm;
  height: 3.5cm;
}
.pingpongapp{
  background-color: #00193A;
}

#formSignup{
  background-color: #FF0041 ;
  justify-content: center;
  align-items: center;
  padding-top: .5;
  padding-bottom: .5cm;
  padding-right: 0cm;
  padding-left: 0cm;
  margin-bottom: .5cm;
  border-radius: 20px;
  width: 7cm;
  height: 7.5cm;
}
.Collapsible{
  background-color: #ff0041;
  margin-bottom: .75cm;
  border-radius: 25px;
  padding-top: .15cm;
  padding-bottom: .15cm;
  width: 7cm;
}

#submitButtonLogin{
  background-color: white;
  border-width: 2px;
  border-color: whitesmoke;
  border-radius: 20px;
  width: 2.5cm;
  height: .7cm;
  text-align: center;
  margin-top: .4cm;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  /* from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } */
}
