body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-logo{
  padding-top: 0cm;
  padding-bottom: 15px;
  max-height: 3cm;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.header{
  background-color: #00193A;
  text-align: center;
  align-items: right;
}

.userAccount{
  background-color: #ffffff;
}
#UserIconUserPage{
  font-size: 80px;
}
.CardHolder,
.userAccount{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  text-decoration: none;
}

a{
  text-decoration: none;
}

.UserDetailsContainer{
  box-shadow: 1px 1px 5px 1px #00193A;
  padding: 40px;
  margin-left: 20px;
  margin-top: 20px;
  height: 300px;
  width: 500px;
  margin-right: 10px;
}
.UserDetailsContainer h4{
  text-align: center;
}
.UserDetailsContainer4{

  display: flex;
}
.UserDetailsContainer1{
  padding-left: 20px;
}
.UserGamesContainer{
  box-shadow: 1px 1px 5px 1px #00193A;
  padding: 40px;
  padding-left: 50px;
  margin-left: 20px;
  margin-top: 20px;
  display: inline-block;
  justify-content: center;
  height: 180px;
  width: 250px;
  margin-right: 10px;
}

.UserUpdateButtonsContainer{
  display:inline-block;
  justify-content: center;
  box-shadow: 1px 1px 5px 1px #00193A;
  padding: 40px;
  margin-left: 20px;
  margin-top: 20px;
  height: 180px;
  width: 160px;
  margin-right: 10px;
}
/* 
Commented because Button was overriding navbar button styles

Button{
  height: .7cm;
  width: 3.5cm;
  margin: 15px;
  padding: 5px;
  background-color: #ff0041;
  border-radius: 20px;
  border-style: none;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  box-shadow: 1px 1px 2px #00193A;
}
Button:hover{
  box-shadow: 1px 1px 5px 1px #00193A;

} */
.dateTime{
  margin-left: 400px;
  margin-right:400px;
  padding-bottom: 220px;
}